{% extends "base.html" %}
{% load static %} 

{% block title%}| Change Password {% endblock %}

{% block contentBody %}

<div class="space-bottom mt-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-xl-12 d-flex justify-content-center">
                <div class="quote-form-box w-75">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger text-center {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% if remaining_seconds %}
                        <div class="alert alert-danger text-center" role="alert">
                            You can change your password again in <span id="countdown"></span>.
                        </div>
                    {% endif %}
                    
                    <form method="post" class="woocommerce-form-login">
                        {% csrf_token %}
                        <div style="width:100%;text-align: center;">
                        {% if google_extra_data and google_extra_data.picture %}
                            <img width="100px" style="border-radius:50%" src="{{ google_extra_data.picture }}" alt="Profile Image">
                        {% else %}
                            <img width="100px" src="{% static 'img/shape/profile-user.png' %}" alt="Default Profile Image">
                        {% endif %}
                        </div>
                        <p class="form-text text-center">Welcome {{user.username}}</p>
                        
                        <h3 class="form-title text-center"><span class="text-theme">Change Password</span></h3>
                        <p class="form-text text-center">Please enter your information to proceed</p>
                        {{ form.as_p }}
                        <div class="form-group"><button type="submit" class="th-btn">Change Password</button></div>
                    </form>
                </div>
                
                
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if remaining_seconds %}
            var countdownElement = document.getElementById('countdown');
            var remainingTime = {{ remaining_seconds }};

            function updateCountdown() {
                var hours = Math.floor(remainingTime / 3600);
                var minutes = Math.floor((remainingTime % 3600) / 60);
                var seconds = remainingTime % 60;

                countdownElement.innerHTML = hours + "h-" + minutes + "m-" + seconds + "s";

                if (remainingTime > 0) {
                    remainingTime--;
                    setTimeout(updateCountdown, 1000);
                } else {
                    countdownElement.innerHTML = "You can now change your password.";
                }
            }

            updateCountdown();
        {% endif %}
    });
</script>

{% endblock contentBody %}
