{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    {% if user.is_authenticated %}
    Hello, {{ user.first_name }}
    <a href="{% url 'core:logout' %}">Logout </a>
    {% else %}
    <a href="{% url 'core:login' %}">Login </a>
    <a href="{% url 'core:user_registration' %}"> SignUp </a>
    {% endif %}


</body>
</html>


