{% extends 'authbase.html' %}
{% load static %} 

{% block title%} Password reset complete {% endblock %}



{% block authBody %}
        




    <div class="preloader">
        <button class="th-btn preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner"><span class="loader"></span></div>
    </div>

    <div class="space-bottom mt-5">
        <div class="container">
            <div class="bg-smoke rounded-20">
                <div class="row gx-0">
                    <div class="col-xl-7">
                        <div class="quote-form-box">
                            <h2>Password reset complete</h2>
                             <p>Your password has been set. You can now <a href="{% url 'core:login' %}">log in</a> with your new password.</p>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="contact-map d-flex justify-content-center align-items-center">
                            <img src="{% static 'img/shape/chngpass.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock authBody %}






