{% extends 'base.html' %}
{% load static %} 

{% block title%}| Track License {% endblock %}



{% block contentBody %}
        





<div class="space-bottom mt-5">
    <div class="container">
        <div class="row gx-0">
            <div class="col-xl-7">
                <div class="quote-form-box">
                    <form action="#" class="woocommerce-form-login">
                        <h3 class="form-title text-center"><span class="text-theme">Track License</span> </h3>
                        <p class="form-text text-center">Please enter your information to proceed</p>
                        <div class="form-group"><label>CNIC</label>
                            <input type="text" id="cnic" name="cnic" required="" class="form-control" placeholder="12345-1234567-1">
                        </div>
                        <div class="form-group"><button type="submit" class="th-btn">Track License</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="contact-map text-center">
                    <img src="{% static 'img/shape/track.jpg' %}" alt="">
                    <h4>Tracking Result</h4>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock contentBody %}